
.slider-container{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 400px;
  width: 400px;
  flex-direction: column;
  margin: 50px auto;

}
.img-container{
  border: 1px solid black;
  height: 300px;
  width: 300px;
  position: relative;
  overflow: hidden;
  
}
.imgmap {
 width: 100%;
 height: 100%;
 object-fit: cover;
 opacity: 0;
 position: absolute;
 /* transition: 0.5s ease-in-out; */
}

.imgmap img{
  width: 100%;
  height: 100%;
}
 
.active{
  opacity: 1;
}
.controls{
  cursor: pointer;
  margin-top: 10px;
}
.left{
  font-size: 30px;
  cursor: pointer;
  margin: 4px;
}
.right{
  font-size: 30px;
  cursor: pointer;
  margin: 4px;
}
